node_modules
build
tmp
bin

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.fdb_latexmk
*.synctex.gz

.DS_Store
.node-xmlhttprequest-sync-*
.vscode

.env
*.sh
utils/config/*.json
!utils/config/ganache.json
!utils/config/fuse.dev.json
!utils/config/fuse.qa.json
!utils/config/fuse.prod.json

!scripts/*.sh

## Etherlime
**/.etherlime-store



