node_modules
build
tmp
bin
.outputParameter
.secret
flatten
flat
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.fdb_latexmk
*.synctex.gz

.DS_Store
.node-xmlhttprequest-sync-*
.vscode
.idea
.outputParameter

.env
utils/config/*.json
!utils/config/development.json
ganache-accounts.json

## solidity-coverage
.coverage_artifacts
.coverage_contracts
.coverage_tests
coverage
coverage.json

crytic-export
gas-usage-report.log

token-registry/
