node_modules
build
build-legacy
tmp
bin
.outputParameter

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.fdb_latexmk
*.synctex.gz

.DS_Store
.node-xmlhttprequest-sync-*
.vscode
.outputParameter

.env
utils/config/*.json
!utils/config/ganache.json
!utils/config/kovan.json
!utils/config/kovan-fork.json

## Etherlime
**/.etherlime-store
flat
.coverage_artifacts
.coverage_contracts
.coverage_tests
coverage
coverage.json